<div class="container" style="width: 800px;">
  <div class="row mt-3">
    <div class="col d-flex">
      <form name="form" action="/condition" method="get" style="width: 350px; height:50px;">
        <!-- Dropdowns dateGroup-->
        <div class="d-inline m-0">
          {{!-- <label class="mr-sm-2" for="inlineFormCustomSelect">月份</label> --}}
          <select class="custom-select mr-sm-2 bg-secondary text-white" id="inlineFormCustomSelect" name="date"
            onchange="submit()" style="width: 160px;">
            <option value="">全部月份</option>
            {{#each DateGroup}}
            <option value="{{ this.dateGroup }}" {{#if_equal this.selectedValue this.dateGroup}} selected {{/if_equal}}>
              {{ this.dateGroup }}
            </option>
            {{/each}}
          </select>
        </div>

        <!-- Dropdowns category-->
        <div class="d-inline m-0">
          {{!-- <label class="mr-sm-2" for="inlineFormCustomSelect">支出類別</label> --}}
          <select class="custom-select mr-sm-2 bg-secondary text-white" id="inlineFormCustomSelect" name="category"
            onchange="submit()" style="width: 160px; display:inline-block;">
            <option value="">不分類別</option>
            {{#each categoryies}}
            <option value="{{ this.category }}" {{#if_equal this.tempCategory this.category}} selected {{/if_equal}}>
              {{ this.categoryName }}
            </option>
            {{/each}}
          </select>
        </div>
      </form>
      <!-- Dropdowns end-->
    </div>
    <div class="col p-0">
      <h3>總金額：</h3>
    </div>
    <div class="col d-flex justify-content-center">
      <h3 style="vertical-align: middle;">{{ totalAmount }}</h3>
    </div>
    <div class="col d-flex justify-content-end">
      <a href="/expense/new" style="text-center; text-decoration:none;">
        <div class="input-group mb-3">
          <button type="submit" class="btn btn-warning text-white">
            新增支出
          </button>
        </div>
      </a>
    </div>
  </div>

  <ul class="list-group">
    {{#each records}}
    <li class="list-group-item">
      <div class="row">
        <div class="col-1 pr-0" style="font-size: 1.8rem;">
          {{{ this.icon }}}
        </div>
        <div class="col-6">
          <div class="row">
            <div class="col">
              <h4 style="display: inline; vertical-align: middle;">
                {{ this.name }}
              </h4>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <span>{{ this.showDate }}</span>
            </div>
          </div>
        </div>
        <div class="col-2 d-flex align-items-center justify-content-end">
          <h4 style="display: inline; vertical-align: middle;">
            {{ this.amount }}
          </h4>
        </div>
        <div class="col-3 d-flex align-items-center justify-content-end">
          <a class="btn btn-success mr-2" href="./expense/{{ this._id }}">
            修改
          </a>
          <form action="/expense/{{ this._id }}?_method=DELETE" method="POST" onsubmit="return deleteAlert()"
            style="display: inline;">
            <button class="btn btn-danger" type="submit">
              刪除
            </button>
          </form>
        </div>
      </div>
    </li>
    {{/each}}
  </ul>
</div>